<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/icon.JPG') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header class="site-header" style="background-image: url({{ asset('img/moon.png') }})">
            <span class="site-title">My MVC Site</span>
        </header>

        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
            </ul>
        </nav>

        <main>
        {% block body %}{% endblock %}
        </main>


        <footer class="site-footer" style="background-image: url({{ asset('img/footer.png') }})">
            <div class="row">
                <div class="col3 box">
                    <p><a href="http://validator.w3.org/check/referer">HTML </a></p>
                    <p><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a><p>
                    <p><a href="https://validator.w3.org/checklink">Link checker</a></p>
                </div>
                <div class="col3 box">
                    <p><a href="https://web.dev/measure/">Mät sidans prestanda</a></p>
                    <p><a href="https://caniuse.com/">CanIUse</a></p>
                    <p><a href="https://codepen.io/">CodePen</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col1 final">
                    <p>Denna sidan är Copyright &copy; av mig.</p>
                </div>
            </div>
        </footer>
    </body>
</html>
